<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Custom Tag -->
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>CyberTurismo - consulta</title> 
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

    <div style="margin-left: 20%; width: 60%;">
    
    <h1>Ruta</h1>
    <div class="container">
  <a href="/listar" class="btn btn-primary">Consulta</a>    
  <br>        
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Cod. Pelicula</th>
        <th>Descripcion</th>
        <th>Asientos</th>
        <th>Precio</th>
        <th>Categoria</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="p : ${lstPeli}">
        <td th:text="${p.codigo}"></td>
        <td th:text="${p.descripcion}"></td>
        <td th:text="${p.asientos}"></td>
        <td th:text="${p.precio}"></td>
        <td th:text="${p.categoria}"></td>
      </tr>
      
    </tbody>
  </table>
</div>
    
    </div>
</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>